<!DOCTYPE html>
<html>
<head>
    <title>lpm.io - The Gazebo </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <%= css :app %>
</head>
<body>

<%= styled_flash %>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <%= yield %>

            <!-- <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div> -->
        </div>
    </div>
</div>

<script type="text/javascript">
window.state = window.state || {}
window.state.csrf = "<%= csrf_token %>"
</script> <%# TODO find better way to embed this in JS files %>
<script src="js/lib/deps/jquery-2.1.0.js"></script>
<script src="js/lib/bootstrap.js"></script>
<script src="js/lib/context.js"></script>
<script src="js/lib/jquery-ui-1.10.4.custom.js"></script>
<script src="js/lib/jquery.caret.js"></script>
<script src="js/lib/select2.js"></script>
<script src="js/calendar.js"></script>
<script src="js/nav.js"></script>
<script src="js/search.js"></script>
<script src="js/requirements.js"></script>
<script src="js/user.js"></script>
<script>
<%= if calendar? then "initCalendar();" else "initRequirements();" end %>
</script>
</body>
</html>
