<div class="inner cover path-wrapper <%= select_first(:path, override: @path.id) %>" data-id="<%= @path.id %>">
<% if calendar? %>
    <h1 class="cover-heading">Calendar: <%= @path.name %></h1>
    <p class="lead">
    <table class="table table-bordered calendar">
        <tr>
            <% Term.enrollable.each do |t| %>
            <th><%= t.name %></th>
            <% end %>
        </tr>
        <% (1..6).each do |y| %>
            <tr class="calendar-row" data-year=<%= y %>>
                <% (1..4).each do |t| %>
                    <td class="calendar-cell <%= Quarter.css_class(Quarter.new(y, Term.enrollable[t-1]), Quarter.new(current_user.year, current_user.term)) %>" data-term=<%= t %> >
                        <% @path.enrollments_within_term(y, t).each do |enr| %>
                            <%= render_cell enr %>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>

    </table>
    </p>
<% else %>
    <h1 class="cover-heading">Requirements: <%= @path.name %></h1>
    <p class="lead">
    <dl class="dl-horizontal">
        <% @path.requirements_by_track.each do |tr, reqs| %>
            <h5>
                <%= pp tr %> (<%= @path.units_within_track(tr) %> <% if tr.units_min %> of <%= tr.units_min %> <% end %> units filled on last refresh)
            </h5>
            <% reqs.each do |req| %>
                <dt class="requirement-name"><%= req.name %></dt>
                <dd>
                <div class="path-row" data-requirement="<%= req.id %>">
                    <% enrollments = sort(@path.enrollments(req)) %>
                    <% [req.min_count, enrollments.count].max.times do |i| %>
                        <%= render_cell enrollments[i] %> <%# Renders empty cells for unfilled requirements %>
                    <% end%>
                </div>
                </dd>
            <% end %>
        <% end %>


        <h5>Unassigned classes</h5>
        <div class="extra-cells-wrapper">
            <ul class="extra-cells">
                <% sort(@path.unassigned_enrollments).each do |e| %>
                <li><%= render_cell e, closable:true %></li>
                <% end %>
            </ul>
        </div>
    </dl>
    <br>
    <form action="/paths/<%= @path.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <%= csrf_tag %>
        <button type="submit" class="btn btn-lg btn-default autolayout">Autolayout all classes</button>
    </form>
    </p>
<% end %>
</div>
