<!DOCTYPE html>
<html>
<head>
    <title>oh god I need to fill out a program sheet</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <%= css :app %>
</head>
<body>
<header>
<% if logged_in? %>
    Logout of <%= current_user.email %>
<% else %>
    Login
<% end %>
</header>

<%= styled_flash %>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            
            <%= yield %>

            <!-- <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div> -->
        </div>
    </div>
</div>

<script type="text/javascript">window.csrf = "<%= csrf_token %>"</script> <%# TODO find better way to embed this in JS files %>
<%= js :app %>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>